a {
    text-decoration: none;
}

.carousel-item {

    width: 100%;
}

.carousel-item {
    margin-top: 100px;
    width: 100%;
    /*width you want*/
    height: 650px;
    /*height you want*/
    overflow: hidden;
}

.title {
    padding: auto;
}

.hotel-info {
    width: 40%;
    object-fit: contain;
    margin-left: 20%;
}


.img {
    width: 100%;
    height: 100%;
    object-fit: none;
}


.user-block {
    position: absolute;
    margin-top: -20px;
    right: 50px;
    color: #fff !important;
}

.login-block {
    position: absolute;
    margin-top: 0px;
    right: 50px;
    color: #fff !important;
}

.user-block>span {
    color: black;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid black;
    position: relative;
    top: 3px;
}

@media (max-width: 767px) {
    .user-block {
        position: unset;
    }
}

.container {
    padding-top: 30px;
}

.comment-section {
    margin-top: 0 auto;
    margin-top: 20px;
    width: 70%
}

.register-container {
    max-width: 500px;
    background: var(--bs-light);
    margin-top: 90px;
    padding-bottom: 20px;
    border: 1px solid var(--bs-gray);
    border-radius: 10px;
}

.comment-section>.card-title {
    position: relative;
    left: 15px;
    top: 10px;
}

.comment-section>.card-subtitle {
    position: relative;
    left: 15px;
    top: 15px;
}

.comment-section>.card-body {
    padding-top: 2rem;
}

form.container {
    max-width: 700px;
}

.content {
    margin: 0 auto;
    width: 400px;
}

table,
td,
th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 80% !important;
    margin: 0 auto;
    margin-top: 20px;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}