{% extends 'base.html' %}

{% block head %}
    <title>Booking</title>
{% endblock %}

{% block body %}
    <div class="container">
        <form  method="POST">
            <div class="mb-3">
                <label for="inputName" class="form-label">Your name</label>
                <input 
                    type="text"
                    class="form-control"
                    id="inputName"
                    name="name"
                >
                <label for="inputMsg" class="form-label">Message</label>
                <textarea 
                    class="form-control"
                    rows="3"
                    id="inputMsg"
                    name="message"
                ></textarea>
            </div>
            <div class="mb-3">
            </div>
                <button  type="submit" class="btn btn-primary">Submit</button>
        </form>
            {% for comment in comments %}    
                <div class="comment-section card">
                    <h5 class="card-title">{{ comment['name'] }} </h5>
                    <small class="card-subtitle">{{ comment['date'] }}</small>
                    <p class="card-body">{{ comment['message'] }}</p>     
                </div>
            {% endfor %}
    </div>
{% endblock %}
