{% extends 'base.html' %}

{% block head %}
<title>Reservation</title>
{% endblock %}

{% block body %}
<div>
    <h1>Reservation Date</h1>
    <table>
        <tr>
            <th>Number of Guests</th>
            <th>Check in Date</th>
            <th>Check out Date</th>
            <th>Type of Room</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.num_of_adult }}</td>
                <td>{{ task.check_in_date }}</td>
                <td>{{ task.check_out_date }}</td>
                <td>{{ task.room }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
<div class="form">
<form action="" method='POST' name="myform">
    <label for="number_of_guests">Choose number of guests:</label>
    <select name="number_of_guests", id="number_of_guests">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    </select>
    {{ form.csrt_token }}
    {{ form.startdate.label }} {{form.startdate(class='datepicker')}} {{form.hidden_tag()}}
    {{ form.enddate.label }} {{form.enddate(class='datepicker')}} {{form.hidden_tag()}}
     <label for="room">Choose type of room:</label>
    <select name="room", id="room">
    <option value="King">King</option>
    <option value="Double Queen">Double Queen</option>
    <option value="Suite">Suite</option>

    </select>
    <p>
    {{form.submit()}}
    </p>
</form>
</div>
</dib>
</div>
{% endblock %}
