{% extends 'base.html' %}

{% block head %}
    <title>register</title>
{% endblock %}

{% block body %}
    <div class="container register-container">
        {% if test is false %}
            <h5>Invalid input, please try again</h5>
        {% endif  %}
        <form  method="POST">
            <div class="mb-2">
                <label for="username" class="form-label">Username</label>
                <input 
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                >
                <label for="email" class="form-label">Email</label>
                <input 
                    type="text"
                    class="form-control"
                    id="email"
                    name="email"
                >
                <label for="password" class="form-label">Password</label>
                <input 
                    type="text"
                    class="form-control"
                    id="password"
                    name="password"
                >
                <label for="password" class="form-label">Enter Password Again</label>
                <input 
                    type="text"
                    class="form-control"
                    id="password-verify"
                    name="password-verify"
                >
            </div>

            <button  type="submit" class="btn btn-primary">Create Account</button>
        </form>
    </div>
{% endblock %}
