{% extends 'base.html' %}

{% block head %}
<title>Update Password</title>
{% endblock %}
{% block body %}

{% if sent_em == False%}
<div class="container register-container">
    <div>
        <form method="POST" id="form1">
            <div>
                <Span>Enter the email address associated with your account.</Span>
            </div>
            <div class="mb-2">
                <label for="email" class="form-label">Enter an email</label>
                <input type="text" class="form-control" id="email" name="email" required>
            </div>
            <button type="submit" class="btn btn-primary" name="form1" value="form1">Send code</button>
        </form>
        <div class="msg">
            <span>{{errmsg}}</span>
        </div>
    </div>
</div>
{% endif %}

{% if sent_em == True  or stay == True%}
<div class="container register-container">
    <h5>{{ msg }}</h5>
    <div>
        <form method="POST" id="form2">
            <div class="mb-2">
                <label for="verification-code" class="form-label">verification-code</label>
                <input type="text" class="form-control" id="verification-code" name="verification-code">
            </div>
            <div class="mb-2">
                <label for="new-password" class="form-label">New Password</label>
                <input type="text" class="form-control" id="new-password" name="new-password">
            </div>
            <div class="mb-2">
                <label for="verify-password" class="form-label">Verify New Password</label>
                <input type="text" class="form-control" id="verify-password" name="verify-password">
            </div>
            <button type="submit" class="btn btn-primary" name="form2" value="form2">Update</button>
        </form>
        <div class="msg">
            <span>{{resetmsg}}</span>
        </div>
    </div>

</div>
<script>
    window.alert('Email Passcode:{{sent_code}}')
</script>
{% endif %}

{% endblock %}